In [4]:
# coding: utf-8

import pandas as pd
from datetime import timedelta
import datetime

In [19]:
#---------------------------------------------------------
print('start',datetime.datetime.now())

dtypes = {'id':'uint32', 'item_nbr':'int32', 'store_nbr':'int8', 'unit_sales':'float32'}

train = pd.read_csv('~/git/data/train.csv', usecols=[1,2,3,4], dtype=dtypes, parse_dates=['date'],
                    nrows=600000 #Skip dates before 2016-08-01
                    )

start 2017-11-26 21:13:33.243731

In [20]:
#---------------------------------------------------------
print('finish loading',datetime.datetime.now())

train.loc[(train.unit_sales<0),'unit_sales'] = 0 # eliminate negatives
train['unit_sales'] =  train['unit_sales'].apply(pd.np.log1p) #logarithm conversion
train['dow'] = train['date'].dt.dayofweek

finish loading 2017-11-26 21:13:35.408308

In [21]:
# creating records for all items, in all markets on all dates
# for correct calculation of daily unit sales averages.
#---------------------------------------------------------
print('finish data',datetime.datetime.now())
u_dates = train.date.unique()
u_stores = train.store_nbr.unique()
u_items = train.item_nbr.unique()
train.set_index(['date', 'store_nbr', 'item_nbr'], inplace=True)
train = train.reindex(
    pd.MultiIndex.from_product(
        (u_dates, u_stores, u_items),
        names=['date','store_nbr','item_nbr']
    )
)

finish data 2017-11-26 21:13:35.762635

In [22]:
#---------------------------------------------------------
print('finish sep',datetime.datetime.now())
del u_dates, u_stores, u_items

train.loc[:, 'unit_sales'].fillna(0, inplace=True) # fill NaNs
train.reset_index(inplace=True) # reset index and restoring unique columns  
lastdate = train.iloc[train.shape[0]-1].date

finish sep 2017-11-26 21:13:36.187648

In [26]:
#---------------------------------------------------------
print('get lastdate',datetime.datetime.now())
#Days of Week Means
#By tarobxl: https://www.kaggle.com/c/favorita-grocery-sales-forecasting/discussion/42948
ma_dw = train[['item_nbr','store_nbr','dow','unit_sales']].groupby(['item_nbr','store_nbr','dow'])['unit_sales'].mean().to_frame('madw')
ma_dw.reset_index(inplace=True)
ma_wk = ma_dw[['item_nbr','store_nbr','madw']].groupby(['store_nbr', 'item_nbr'])['madw'].mean().to_frame('mawk')
ma_wk.reset_index(inplace=True)

get lastdate 2017-11-26 21:21:41.534475

In [ ]:
#-------------------------------------------
# normalization
se_max = train[['item_nbr','store_nbr','dow','unit_sales']].groupby(['item_nbr','store_nbr','dow'])['unit_sales'].quantile(0.9,interpolation='lower').to_frame('semax')
se_max.reset_index(inplace=True)

se_min = train[['item_nbr','store_nbr','dow','unit_sales']].groupby(['item_nbr','store_nbr','dow'])['unit_sales'].quantile(0.1,interpolation='lower').to_frame('semin')
se_min.reset_index(inplace=True)

new_train = pd.merge(train, se_max, how='left', on=['item_nbr','store_nbr','dow'])
new_train = pd.merge(new_train, se_min, how='left', on=['item_nbr','store_nbr','dow'])
new_train['unit_sales'] = (new_train['semax'] - new_train['unit_sales'])/(new_train['semax'] - new_train['semin'])

new_train.loc[(train.unit_sales<0),'unit_sales'] = 0
new_train.loc[(train.unit_sales>1),'unit_sales'] = 1

In [ ]:
#---------------------------------------------------------
print('get ma_dw ma_wk',datetime.datetime.now())
#Moving Averages
ma_is = train[['item_nbr','store_nbr','unit_sales']].groupby(['item_nbr','store_nbr'])['unit_sales'].mean().to_frame('mais226')
for i in [112,56,28,14,7,3,1]:
    tmp = train[train.date>lastdate-timedelta(int(i))]
    tmpg = tmp.groupby(['item_nbr','store_nbr'])['unit_sales'].mean().to_frame('mais'+str(i))
    ma_is = ma_is.join(tmpg, how='left')

In [ ]:
#---------------------------------------------------------
print('get MA',datetime.datetime.now())
del tmp,tmpg,train

ma_is['mais']=ma_is.median(axis=1)
ma_is.reset_index(inplace=True)

In [ ]:
#---------------------------------------------------------
print('get median of MA',datetime.datetime.now())
#Load test
test = pd.read_csv('~/git/data/test.csv', dtype=dtypes, parse_dates=['date'])
test['dow'] = test['date'].dt.dayofweek
test = pd.merge(test, ma_is, how='left', on=['item_nbr','store_nbr'])
test = pd.merge(test, ma_wk, how='left', on=['item_nbr','store_nbr'])
test = pd.merge(test, ma_dw, how='left', on=['item_nbr','store_nbr','dow'])
test = pd.merge(test, se_max, how='left', on=['item_nbr','store_nbr','dow'])
test = pd.merge(test, se_min, how='left', on=['item_nbr','store_nbr','dow'])

In [ ]:
#---------------------------------------------------------
print('get test',datetime.datetime.now())
del ma_is, ma_wk, ma_dw, se_max, se_min

#Forecasting Test
test['unit_sales'] = test.mais 
pos_idx = test['mawk'] > 0
test_pos = test.loc[pos_idx]
test.loc[pos_idx, 'unit_sales'] = test_pos['mais'] * test_pos['madw'] / test_pos['mawk']
test.loc[:, "unit_sales"].fillna(0, inplace=True)

test['unit_sales'] = test['semax'] - test['unit_sales'] * (test['semax'] - test['semin'])
test['unit_sales'] = test['unit_sales'].apply(pd.np.expm1) # restoring unit values

In [ ]:
#---------------------------------------------------------
print('get results',datetime.datetime.now())
#50% more for promotion items
test.loc[test['onpromotion'] == True, 'unit_sales'] *= 1.5

test[['id','unit_sales']].to_csv('ma8dwof.csv.gz', index=False, float_format='%.3f', compression='gzip')

In [7]:
results = pd.read_csv('model2_test.csv')

In [9]:
results

,Unnamed: 0,id,date,store_nbr,item_nbr,onpromotion,dow,mais226,mais112,mais56,mais28,mais14,mais7,mais3,mais1,mais,mawk,madw,semax,semin
0,0,125497040,2017-08-16,1,96995,False,2,0.400000,0.454545,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.844024,0.693147,0.693147,0.693147
1,1,125497041,2017-08-16,1,99197,False,2,0.477082,0.433203,0.492276,0.500000,0.333333,0.000000,NaN,NaN,0.455143,1.010969,0.977616,1.098612,0.693147
2,2,125497042,2017-08-16,1,103501,False,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,125497043,2017-08-16,1,103520,False,2,0.588597,0.602354,0.636867,0.675055,0.701263,0.861676,1.000000,NaN,0.675055,1.114774,1.175135,1.791759,0.693147
4,4,125497044,2017-08-16,1,103665,False,2,0.491967,0.496382,0.493545,0.533379,0.572899,0.546085,1.000000,1.000000,0.539732,1.320085,1.282500,1.945910,0.693147
5,5,125497045,2017-08-16,1,105574,False,2,0.477753,0.417475,0.431301,0.411298,0.383807,0.454473,0.692712,0.606840,0.442887,1.693974,1.951031,2.484907,1.386294
6,6,125497046,2017-08-16,1,105575,False,2,0.470809,0.491419,0.437952,0.444527,0.381135,0.432231,0.481280,0.808477,0.457668,2.258817,2.432405,2.833213,1.791759
7,7,125497047,2017-08-16,1,105576,False,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,125497048,2017-08-16,1,105577,False,2,0.615874,0.560554,0.595783,0.682209,0.832321,0.883007,0.707519,0.415037,0.649042,1.022971,1.096418,1.609438,0.693147
9,9,125497049,2017-08-16,1,105693,False,2,0.626292,0.850627,0.847943,0.777778,0.750000,0.750000,1.000000,1.000000,0.812861,0.852271,0.939412,1.098612,0.693147
10,10,125497050,2017-08-16,1,105737,False,2,0.600564,0.637884,0.687211,0.786730,0.625864,0.801880,1.000000,NaN,0.687211,1.199824,1.422326,2.079442,0.693147
11,11,125497051,2017-08-16,1,105857,False,2,0.477055,0.379136,0.441533,0.439013,0.409707,0.563566,0.365441,0.000000,0.424360,1.610766,1.714712,2.197225,1.098612
12,12,125497052,2017-08-16,1,106716,False,2,0.587636,0.385849,0.326133,0.298670,0.358046,0.305012,0.500000,NaN,0.358046,1.052034,1.141853,1.609438,0.693147
13,13,125497053,2017-08-16,1,108079,False,2,0.663641,0.643554,0.638346,0.658647,0.766015,0.805012,0.415037,0.415037,0.651100,0.936147,0.944348,1.386294,0.693147
14,14,125497054,2017-08-16,1,108634,False,2,0.659091,0.615385,0.500000,NaN,NaN,NaN,NaN,NaN,0.615385,0.788346,0.693147,0.693147,0.693147
15,15,125497055,2017-08-16,1,108696,False,2,0.529309,0.501323,0.614304,0.586110,0.552473,0.507425,0.121765,0.243529,0.518367,1.109915,1.125037,1.609438,0.693147
16,16,125497056,2017-08-16,1,108698,False,2,0.480789,0.567908,0.669582,0.843102,0.928076,0.919086,1.000000,1.000000,0.881094,1.254247,1.300395,1.609438,0.693147
17,17,125497057,2017-08-16,1,108701,True,2,0.574057,0.616171,0.635575,0.578240,0.620916,0.500000,0.333333,0.000000,0.576148,0.957468,1.018947,1.386294,0.693147
18,18,125497058,2017-08-16,1,108786,False,2,0.538440,0.519693,0.514127,0.436003,0.585668,0.625264,0.606451,0.630930,0.562054,1.216750,1.339809,1.791759,0.693147
19,19,125497059,2017-08-16,1,108797,True,2,0.491312,0.605581,0.557713,0.590143,0.575121,0.427355,0.422861,0.268584,0.524513,1.350242,1.485008,2.079442,0.693147
20,20,125497060,2017-08-16,1,108831,False,2,0.370427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.370427,1.587552,NaN,NaN,NaN
21,21,125497061,2017-08-16,1,108833,False,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,125497062,2017-08-16,1,108862,False,2,0.710764,0.738879,0.727836,0.813815,0.823683,1.000000,1.000000,NaN,0.813815,0.971370,1.164838,2.302585,0.693147
23,23,125497063,2017-08-16,1,108952,False,2,0.611934,0.577722,0.567974,0.497655,0.663093,0.666667,0.666667,0.000000,0.594828,1.017281,1.138442,1.609438,0.693147
24,24,125497064,2017-08-16,1,111223,False,2,0.464958,0.427805,0.398328,0.430197,0.379357,0.552117,0.619104,0.466516,0.447577,1.821962,1.878043,2.708050,1.098612
25,25,125497065,2017-08-16,1,111397,False,2,0.599235,0.638626,0.658041,0.731851,0.691102,0.838172,NaN,NaN,0.674572,1.171076,1.134558,1.791759,0.693147
26,26,125497066,2017-08-16,1,112830,False,2,0.560684,0.565698,0.500256,0.396917,0.532193,0.603545,0.472464,0.268584,0.516224,1.215787,1.267737,1.945910,0.693147
27,27,125497067,2017-08-16,1,114778,False,2,0.516978,0.540517,0.553613,0.603697,0.585275,0.700000,0.500000,0.000000,0.547065,1.328871,1.308558,1.945910,0.693147
28,28,125497068,2017-08-16,1,114790,True,2,0.493190,0.649364,0.743658,0.757045,0.702414,0.691037,0.426871,0.296248,0.670200,1.638673,1.908303,2.484907,1.098612
29,29,125497069,2017-08-16,1,114799,False,2,0.612868,0.630843,0.641559,0.402334,0.402205,0.346892,0.000000,NaN,0.402334,0.968273,1.077932,1.609438,0.693147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3370434,3370434,128867474,2017-08-31,54,2127921,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370435,3370435,128867475,2017-08-31,54,2127992,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370436,3370436,128867476,2017-08-31,54,2128628,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370437,3370437,128867477,2017-08-31,54,2128799,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370438,3370438,128867478,2017-08-31,54,2129334,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370439,3370439,128867479,2017-08-31,54,2129350,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370440,3370440,128867480,2017-08-31,54,2129387,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370441,3370441,128867481,2017-08-31,54,2129515,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370442,3370442,128867482,2017-08-31,54,2129616,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370443,3370443,128867483,2017-08-31,54,2129678,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370444,3370444,128867484,2017-08-31,54,2129786,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370445,3370445,128867485,2017-08-31,54,2129790,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370446,3370446,128867486,2017-08-31,54,2129892,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370447,3370447,128867487,2017-08-31,54,2129994,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370448,3370448,128867488,2017-08-31,54,2130131,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370449,3370449,128867489,2017-08-31,54,2130219,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370450,3370450,128867490,2017-08-31,54,2130265,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370451,3370451,128867491,2017-08-31,54,2130352,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370452,3370452,128867492,2017-08-31,54,2130474,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370453,3370453,128867493,2017-08-31,54,2130521,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370454,3370454,128867494,2017-08-31,54,2130526,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370455,3370455,128867495,2017-08-31,54,2130553,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370456,3370456,128867496,2017-08-31,54,2131010,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370457,3370457,128867497,2017-08-31,54,2131572,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370458,3370458,128867498,2017-08-31,54,2131699,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370459,3370459,128867499,2017-08-31,54,2132163,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370460,3370460,128867500,2017-08-31,54,2132318,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370461,3370461,128867501,2017-08-31,54,2132945,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370462,3370462,128867502,2017-08-31,54,2132957,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370463,3370463,128867503,2017-08-31,54,2134244,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
test = pd.read_csv('model2_test.csv')

In [17]:
test['unit_sales'] = test.mais 
pos_idx = test['mawk'] > 0
test_pos = test.loc[pos_idx]
test['unit_sales'] = test['semax'] - test['unit_sales'] * (test['semax'] - test['semin'])
test.loc[pos_idx, 'unit_sales'] = test_pos['mais'] * test_pos['madw'] / test_pos['mawk']



test.loc[:, "unit_sales"].fillna(0, inplace=True)
test['unit_sales'] = test['unit_sales'].apply(pd.np.expm1) # restoring unit values 

#---------------------------------------------------------
print('get results',datetime.datetime.now())
#50% more for promotion items
test.loc[test['onpromotion'] == True, 'unit_sales'] *= 1.5

test[['id','unit_sales']].to_csv('model2.csv.gz', index=False, float_format='%.3f', compression='gzip')

get results 2017-11-26 23:50:54.487263